@model IEnumerable<MVC.Models.Pago>

@{
    ViewData["Title"] = "Index";
}


<p>
    <div style="display: flex; align-items: center;">
        <h1 style="margin-right: 15px;">Pagos</h1>
        <a asp-action="Create"  > <i class="fa-solid fa-user-plus fa-lg" ></i></a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Contrato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @(item.Contrato1.Inquilino1.Nombre+" "+item.Contrato1.Inquilino1.Apellido+" "+ item.Contrato1.Inmueble1.Tipo+" "+item.Contrato1.Inmueble1.Direccion);
            </td>
            <td>
               <a href="@Url.Action("Edit", new { id = item.Id , c=""})" class="btn btn-primary btn-sm"><i class="fa-solid fa-edit"></i></a> | 
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i></a>| 
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-trash"></i></a>
                <a asp-action="Crear",new { id = item.Contrato1.id })"  > Agregar Pago</a>
            </td>
        </tr>
}
    </tbody>
</table>
