@model IEnumerable<MVC.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}


<div style="display: flex; align-items: center;">
    <h1 style="margin-right: 15px;">Inmuebles</h1>
    <a asp-action="Create"  > <i class="fa-solid fa-user-plus fa-lg" ></i></a>
    <a href="@Url.Action("Disponibles")" class="btn btn-primary btn-sm">Inmuebles disponibles</a>|
</div>
<form method="post" action="@Url.Action("Disponibles")">
    <label for="fechaDesde">Fecha Desde </label>
    <input type="date" id="fechaDesde" name="fechaDesde">
    <label for="fechaHasta">Fecha Hasta</label>
    <input type="date" id="fechaHasta" name="fechaHasta">


    <button type="submit">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantHamb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
               Propietario
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantHamb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @(item.Duenio.Nombre + " " + item.Duenio.Apellido)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-edit"></i></a> | 
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i></a>| 
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-trash"></i></a>
                <a href="@Url.Action("Create", "Contrato", new { id = item.Id })" class="btn btn-primary btn-sm">Crear Contrato</a>
            </td>
        </tr>
}
    </tbody>
</table>
