@model MVC.Models.Contrato

@{
    
    ViewData["Error"] = ViewData["Error"];
    var inm = ViewData["IdInmueble"];
    var ltaInmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var ltaInquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
}

<h1>Crear Contrato</h1>
<h3>@ViewData["Error"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FecDesde" class="control-label"></label>
                <input asp-for="FecDesde" class="form-control" />
                <span asp-validation-for="FecDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecHasta" class="control-label"></label>
                <input asp-for="FecHasta" class="form-control" />
                <span asp-validation-for="FecHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label class="control-label">IdInquilino</label>
				<select class="form-control" name="IdInquilino">
					@foreach (var item in ltaInquilinos)
					{
						<option value="@item.Id">@(item.ToString())</option>
					}
				</select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            @if(ViewData["IdInmueble"]==null){
                <div class="form-group">
                    <label class="control-label">Inmueble</label>
                    <select class="form-control" name="IdInmueble">
                        @foreach (var item in ltaInmuebles)
                        {
                            <option value="@item.Id">@item.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="IdInmueble" class="text-danger"></span>
                </div>
            }else{
                <select class="form-control" name="IdInmueble">
					@foreach (var Model in ltaInmuebles)
					{
						//<option value="@item.Id">@(item.ToString())</option>
                        @:<option @(Model.Id==(int)inm? "selected" : "") value="@Model.Id">@(Model.Id + " " + Model.Tipo+" " + Model.Direccion)</option>
					}
				</select>
            }
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

