@model IEnumerable<MVC.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecHasta)
            </td>
            <td>
                @(item.Inquilino1.ToString())
            </td>
            <td>
                @(item.Inmueble1.ToString())
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalle", "Details", new { id=item.Id}) |
                @Html.ActionLink("Eliminar", "Delete", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
