@model IEnumerable<MVC.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}


<p>
     <div style="display: flex; align-items: center;">
        <h1 style="margin-right: 15px;">Contratos</h1>
        <a href="@Url.Action("Create", new { id = "null" })" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus fa-lg" ></i></a>
    <form method="post" action="@Url.Action("Listar")">
        <label for="fechaDesde">Fecha Desde </label>
        <input type="date" id="fechaDesde" name="fechaDesde">
        <label for="fechaHasta">Fecha Hasta</label>
        <input type="date" id="fechaHasta" name="fechaHasta">


        <button type="submit">Buscar</button>
</form>   
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecHasta)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Inmueble
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecHasta)
            </td>
            <td>
                @(item.Inquilino1.ToString())
            </td>
            <td>
                @(item.Inmueble1.ToString())
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id, a="Null"})" class="btn btn-primary btn-sm"><i class="fa-solid fa-edit"></i></a> | 
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i></a>| 
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa-solid fa-trash"></i></a>|
                <a href="@Url.Action("Cancelar", new { id = item.Id, a="1" })" class="btn btn-primary btn-sm">Cancelar Contrato</a>|
                <a href="@Url.Action("Renovar", new { idInq = item.IdInquilino, idInm=item.IdInmueble })" class="btn btn-primary btn-sm">Renovar Contratot</a>
                
                

                
            </td>
        </tr>
}
    </tbody>
</table>
